/* *:not(path):not(g) {
      color:                    hsla(210, 100%, 100%, 0.9) !important;
      background:               hsla(210, 100%,  50%, 0.5) !important;
      outline:    solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;
      box-shadow: none !important;
  } */
.bg-1{
    background: white;
}

.bg-2 {  /*PARALLAX*/
    background: black url("../images/parallax.jpg") center / cover; 
    height: 500px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: auto;
}

.jumbotron {
    margin-bottom: 0 !important;
}

.vcenter {

      align-items: center;
      display: flex;
      justify-content: center;
  }

  #thescraper {
      background: none;
      border: 1px solid #FFCF2C;
      color: #FFCF2C;
      text-decoration: none;
      padding : 5px;
      border-radius: 6px;
      margin: 5px;
      
  }

  #thescraper:hover {
      
      border: 1px solid #FFF;
      color: white;
  }